<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shareMate</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<style>
    body {
    background-color: #F3F3F3;
    font-family:Quicksand, sans-serif;
    font-size:30px;
}</style>
</head>
<body>
    {{{ body }}}
</body>
</html>
