<div style="height:200px">
    
</div>
<div style="display:flex;align-items:center; justify-content:center;">
    <div>
    <a href="/signup"><button>Sign Up</button></a>
    <a href="/login"><button>Log In</button></a>
    </div>
</div>