<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this free HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
  <meta property="og:site_name" content="" /> <!-- website name -->
  <meta property="og:site" content="" /> <!-- website link -->
  <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
  <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
  <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
  <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
  <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>shareMate - Request-Approve-Repeat</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
  <link href="css/magnific-popup.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  
  <!-- Favicon  -->
    
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
  <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">shareMate</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index1.html"><img src="images/logo.png" alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a style="font-size: 18px" class="nav-link page-scroll" href="#header">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 18px" class="nav-link page-scroll" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 18px" class="nav-link page-scroll" href="#signin">Login</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 18px" class="nav-link page-scroll" href="#signup">Register</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 18px" class="nav-link page-scroll" href="#reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 18px" class="nav-link page-scroll" href="#about">About</a>
                </li>

                <li class="nav-item">
                    <a style="font-size: 18px" class="nav-link page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
            
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1><span class="turquoise">shareMate</span></h1> <h4> Request-Approve-Repeat</h4>
                            <p class="p-large">Use shareMate as an online platform to advertise a product you no longer need or request one you need asap. Dive into a network of handy and secured product exchanges in your neighbourhood.</p>
                            <a class="btn-solid-lg page-scroll" href="#overview">DISCOVER</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="images/header-teamwork.svg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Services -->
    <div id="overview" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Overview</h2>
                    <p class="p-heading p-large">We provide an online platform for handy exchange of daily-routine products and services within your neighbourhood. Advertise a skill you excel in or a product you no longer need, we help you reaching out to your customer</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="images/upload.jpg" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Request</h4>
                            <p>Need something ? Just raise a request regarding your needs. We propagate your request to our nearby users.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="images/approve.png" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Approve</h4>
                            <p>Approve a request based on your convenience. We establish a connection between you and the request generator.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img style="opacity: 0.9" class="card-image" src="images/leaderboard.png" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Top the leaderboard</h4>
                            <p>Get rated by people whom you assisted. Climb up the leaderboard to increase your customers.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->


    <!-- Details 1 -->
    <div class="basic-1" id="signin">
        <div class="container" style="margin-top: 8%">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Request or Advertise a service or a product</h2>
                        <p>We set up your profile and you are free to generate a request reagrding a service or any product you need. You can even advertise or sell a product you no longer need. We pass on your request our users nearby.</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">SIGN IN</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-1-office-worker.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->

    
    <!-- Details 2 -->
    <div class="basic-2" id="signup">
        <div class="container" style="margin-top: 5%">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-2-office-team-work.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Accept a request and rate the service</h2>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">From a list of all requests, approve one based on your convenience</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Two way personal information disclosure is performed</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">Customer rates your service and we update the leaderboard</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">SIGN UP</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 2 -->

    <!-- Details Lightboxes -->
    <!-- Details Lightbox 1 -->
  <div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-lightbox-2.svg" alt="alternative">
                    </div> 
                </div> <!-- end of col -->
                <div class="col-lg-4">

                  <div class="image-container">
                      <center><img class="img-fluid" src="images/logo1.png" alt="alternative"></center>
                  </div> 

                  <form method="post" action="/old">
                  
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="rname" name="roll" required>
                        <label class="label-control" for="rname">Roll Number</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control-input" id="rname" name="email" required>
                        <label class="label-control" for="rname">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control-input" id="rname" name="password" required>
                        <label class="label-control" for="rname">Password</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">SIGN IN</button>
                    </div>
                    
                  </form>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 1 -->

    <!-- Details Lightbox 2 -->
  <div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-lightbox-2.svg" alt="alternative"><br><br>
                        <div class="form-group">
                        <button type="submit" class="form-control-submit-button" form="register">REGISTER</button>
                    </div>
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                  <form id="register" name="f" method="post" action="/new" enctype="multipart/form-data" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="rname" name="name" required>
                        <label class="label-control" for="rname">Full name</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control-input" id="rname" name="roll" required>
                        <label class="label-control" for="rname">Roll Number</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control-input" id="rname" name="email" required>
                        <label class="label-control" for="rname">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control-input" id="rname" name="password" required>
                        <label class="label-control" for="rname">Password</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control-input" id="rname" name="phone" required>
                        <label class="label-control" for="rname">Contact Number</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control-input" id="rname" name="hostel" required>
                        <label class="label-control" for="rname">Hostel Name</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control-input" id="rname" name="room" required>
                        <label class="label-control" for="rname">Room Number</label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="upload-btn-wrapper" style="margin-left: 15%;margin-top: 2%">
                      <button class="btn">Upload a profile picture</button>
                      <input type="file" name="fileupload" required />
                    </div>

                    
                  </form>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 2 -->
    <!-- end of details lightboxes -->

    <!-- User reviews -->
    <div class="slider-2" id="reviews" style="margin-top: 8%">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/testimonials-2-men-talking.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <h2>Reviews</h2>

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="images/testimonial-1.svg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">I just finished my trial period and was so amazed with the support and results that I purchased shareMate right away at the special price.</p>
                                            <p class="testimonial-author">Rachel Green</p>
                                        </div>
                                    </div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="images/testimonial-2.svg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">shareMate has always helped or startup to position itself in the highly competitive market of mobile applications. You will not regret using it!</p>
                                            <p class="testimonial-author">Monica Geller</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="images/testimonial-3.svg" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Love their services and was so amazed with the support and results that I purchased shareMate for two years in a row. They are awesome.</p>
                                            <p class="testimonial-author">Joey Tribbiani</p>
                                        </div>
                                    </div>        
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
                               
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of testimonials -->


    <!-- About -->
    <div id="about" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About The Team</h2>
                    <p class="p-heading p-large">Meet our team of computer engineering students who excel developing user-friendly web applications which are handy and tempting at the same time.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="images/member1.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Abhijeet Mathur</strong></p>
                        <p class="job-title">Developer</p>
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img sizes="20px" class="img-fluid" src="images/member2.png" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Noel Aby Das</strong></p>
                        <p class="job-title">Developer</p>
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                    <!-- Team Member -->
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="images/member3.jpg" alt="alternative">
                        </div> <!-- end of image wrapper -->
                        <p class="p-large"><strong>Vedansh Agarwal</strong></p>
                        <p class="job-title">Designer</p>
                    </div> <!-- end of team-member -->
                    <!-- end of team member -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->


    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Information</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Don't hesitate to reach out to us</li>
                        <li>Sardar Vallabhbhai National Institute of Technology, Surat, Gujarat - 395007</li><br>
                        <li><a class="turquoise" href="sharemate.in@gmail.com">sharemate.in@gmail.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <div class="row">
              <div class="mapouter"><div class="gmap_canvas"><iframe width="1120" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=sardar%20vallabhbhai%20national%20institute%20of%20technology&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">his comment is here</a></div><style>.mapouter{position:relative;text-align:right;height:400px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div>
            </div>
    
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->


    

   
    
      
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>