<div>
   <form method="post" action="/old" name="f" >
   <label for= "email">Email</label>
   <input type="email" name="email" required><br><br>
   <label for = "password">Password</label>
   <input type="password" name="password" required><br><br>
   <input type="submit" onclick="return check()">
   </form>
</div>
<script type="text/javascript">
      
         function check()
         {
            if( !(document.f.email.value) || !(document.f.password.value) ){
                           alert('All the fields are mandatory !');
            }
         }


</script>